.box1 {
  height: 120px;
  background-color: #c95314;
}

.box2 {
  height: 60px;
  background-color: #c95314;
}

.redes {
  font-size: 60px !important;
  color: #ffffff;
}

.textosFooter {
  color: #ffffff;
}

.text-decorator-none {
  text-decoration: none !important;
}