.textosCadastroUsuario {
    font-weight: bold !important;
}

.botaoCancelar {
    margin-right: 20px !important;
}

.imagemCadastroUsuario {
    width: 100vh;
    min-height: 100vh;
    background-image: url(https://as2.ftcdn.net/v2/jpg/01/36/70/67/1000_F_136706734_KWhNBhLvY5XTlZVocpxFQK1FfKNOYbMj.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.text-decorator-none {
    text-decoration: none;
}